*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  height: calc(100vh - 80px);
  background-color: rgba(230, 217, 201, 0.404);
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  background-size: cover;
}

.container{
  position: absolute;
  left: 25%;
  width: 100%;
  max-width: 650px;
  /*background: rgba(0, 0, 0, 0.5);*/
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  background: rgb(241, 209, 209);
}

.form-title{
  font-size: 26px;
  text-align: center;
  padding-bottom: 6px;
  color: grey;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: grey;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title{
  color:white;
  font-size: 24px;
  font-weight: 600;
}

.gender-category{
  margin: 15px 0;
  color: white;
}

.gender-category label{
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
  cursor: pointer;
}

.form-submit-btn input{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 3px;
  color:white;
  background:  rgba(237, 103, 111, 255);
}

.form-submit-btn input:hover{
  background: rgb(243, 177, 177);
  color: rgb(255, 255, 255);
}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .gender-category{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}

.profile-picture {
  position: relative;
  z-index: 1;
  width: 300px;
  height:300px;

  background-size: contain;
  border-radius: 1em;
}

.profile-picture img {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 2;
  border-radius: 1em;
}

.profile-picture label {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 3;
}

.profile-picture .drag-over .infotext {
  color: grey;
  border: dashed 5px white;
}

.profile-picture .infotext {
  margin-left: 5px;
  margin-top: 5px;
  height: 290px;
  width: 290px;
  vertical-align: middle;
  text-align: center;
  color: rgba(255,255,255,0.8);
  border: dashed 3px rgba(255,255,255,0.8);
  border-radius: 10px;
  padding-top: 110px;
  font-size: 150%;
}
.image-upload>input {
  display: none;
}
