.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #dedcdc;
  line-height: 550px;
  font-size: 3000px;
}

#information{
  font: sans-serif;
  font-size: 15px;
}

#zone-swipe{
  flex-grow: 10;
  background-color: rgba(230, 217, 201, 0.404);  
  border-radius: 15px;
  height: calc(100vh - 80px);
}

.flex-container > div {
  background-color: rgb(255, 255, 255);
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 655px;
  font-size: 500px;
}
.div1{background-color:#dedcdc(255, 255, 255);
  color: #dedcdc;
  margin: 10px;
  text-align: center;
  line-height: 5px;
  font-size: 5px;}

.div.scroll {
  margin:4px, 4px;
  padding:4px;
  flex-grow: 1;
  width: 500px;
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.box {
  border: 5px solid rgb(251, 251, 251);
  height: 600px;
  width: 300px;
}
.box1 {
  border: 5px solid rgb(251, 251, 251);
  height: 750px;
  width: 100%;
}

.footer {
  position : fixed;
  bottom : 20%;
  }
  .flex-container-column {
    display: flex;
    flex-direction: column;
  }

  .flex-container-column > div {
    background-color: #ffffff;
  /*  width: 340px;
    margin: 10px;*/
    text-align: center;
    /*line-height: 300px;*/
    font-size: 30px;
  }
  .textarea {
    width: 75%;
    height: 50px;
    padding: 1px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .button {
    display: inline-block;

    font-size: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .frame {
    width: 450px;
    height: 350px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 25px;
  }
  img {

    width: 40%;
    height: 60%;

    border-radius: 10px;
  }
  .center {
    position: absolute;
    top: 40%;
    left: 58.5%;
    transform: translate(-35%, -60%);
    font-size: 30px;
  }
 .btn-chat{
      border:none;
      padding:15px 25px;
      text-transform: uppercase;
      font-size: 20px;
      position: absolute;
      bottom: 2%;
      right: 2%;
      width: 20%;
    }
    #chatbox{
      display:none;
      border: 3px solid #f1f1f1;
      position: absolute;
      bottom: 2%;
      right: 2%;
      z-index: 9;
    }
    .form-container{
      max-width: 300px;
      padding: 10px;
      background: white;
    }
    .form-container textarea{
      width: 100%;
      min-height:200px;
      border: none;
      resize: none;
      padding: 10px;
      margin: 5px 0 22px 0;
      background: #f1f1f1;
      font-size: 15px;
    }
    .form-container textarea:focus{
      background: #ddd;
      outline: none;
    }
    .btn-send, .btn-close{
      padding:15px 25px;
      font-size: 18px;
      margin-bottom: 10px;
      border: none;
      width: 100%;
      opacity: 0.9;
    }
    .btn-send,.btn-close,.btn-chat:hover{
      opacity: 1;
    }
    h2{
      background: blue;
      color:white;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
    *, ::before, ::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      height: 100vh;
  }

  .chat-global {
      width: 400px;
      height: 80%;
      margin: 0 auto;
      border-radius: 25px;
      box-shadow: 0 30px 70px 0px rgba(0,0,0,0.2);
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;

  }

  .nav-top {
      position: absolute;
      background: #fff;
      top: 0px;
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(51,51,51,0.2);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }

  .location {
      width: 100px;
      display: flex;
      align-items: center;
  }
  .location img {
      width: 30px;
      margin-left: 10px;
  }
  .location p {
      font-size: 20px;
      margin-left: 5px;
  }

  .utilisateur {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .utilisateur p:nth-child(1){
      font-size: 20px;
  }
  .utilisateur p:nth-child(2){
      font-size: 14px;
      opacity: 0.8;
  }

  .logos-call {
      width: 100px;
      display: flex;
  }
  .logos-call img {
      margin-right: 20px;
      width: 30px
  }


  /* **********CONVERSATION********** */

  .conversation {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow:hidden;
  }
  .talk {
      margin: 20px 0;
      color: #f1f1f1;
      display: flex;
      align-items: center;
      font-size: 18px;
      width: 50%;

  }
  .talk img {
      width: 50px;
      border-radius: 50%;
      margin-bottom: auto;
  }

  .talk p {
      padding: 15px;
      line-height: 25px;
      border-radius: 20px;
      /* background: #000; */
  }
  .right {
      margin-left: auto;
  }
  .right p {
      margin-right: 10px;
      background:#0078FF;
  }
  .left p {
      margin-left: 10px;
      background: rgb(216,216,216);
      color: #000;
  }

  /* **********FORM********** */

  .chat-form {
      flex-shrink: 0;
      width: 100%;

      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      background: #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .container-inputs-stuffs {
      background: #fff;
      display: flex;
      width: 90%;
      height: 60px;
      border-radius: 9999px;
  }

  .group-inp {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .group-inp img {
      width: 30px;
  }
  .group-inp textarea {
      resize: none;
      border: none;
      outline: none;
      padding-left: 10px;
      font-size: 16px;
      width: 100%;
      height: 40px;
      padding-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .files-logo-cont {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding-left: 10px;
      display: block;
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .files-logo-cont img {
      width: 30px;
  }

  .submit-msg-btn {
      background: #fff;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      width: 70px;
      border: none;
      display: flex;
      padding-right: 5px;
      justify-content: center;
      align-items: center;
  }

  .submit-msg-btn img {
      width: 30px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-family: arial;
    background-color: rgb(241, 209, 209);
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
  }

  .flex-container > div {
    background-color: #fdfdfd;
    width: 1000px;
    margin: 10px;
    padding: 15px;



  }
  .btn-group button {
    background-color: #dedcdc00; /* Green background */


    padding: 4px 4px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }

