
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100%;
  max-width: 550px;
  background: rgb(241, 209, 209);
  padding: 28px;
  margin: 0 28px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  background: rgb(237 103 111 / 71%);
  height: 400px;
  margin: 30px;
  margin-left: 40%;
}

body{
  display: flex;
  height: calc(100vh - 80px);
  background-color: rgba(230, 217, 201, 0.404);
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  background-size: cover;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.main_box .sidebar_menu{
  position: absolute;
  top: 71px;
  height: calc(100vh - 82px);
  margin-left: 10px;
  width: 300px;
  left: 20px;
  background: rgb(241, 209, 209);
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  /*box-shadow: 0px 2px 4px grey;*/
}
.sidebar_menu .logo a{
  color: rgba(237,103,111,255);
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 15px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: rgba(237,103,111,255);
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: rgba(237,103,111,255);
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: rgba(237,103,111,255);
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.main_box .btn_one i{
  color: rgba(237,103,111,255);
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}
